body {
  font-family: arial;
}

nav {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px !important;

  & img {
    width: 50px;
    height: 50px;
  }
}

main,
nav {
  max-width: 700px;
  margin: 0 auto;
}

.video-details {
  & .thumbnail {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin: 10px 0;
    border: 2px solid #9d9d9d;
    border-radius: 5px;

    & img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }

    & p {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}

.error {
  display: block;
  margin: 5px;
  color: #f44336;
}
